{% extends "admin/change_list.html" %}
{% load staticfiles %}

{% block content_title %}

<p>LOANS</p>

{% endblock %}


{% block result_list %}
    <style>
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 100px;
}

td, th {
    border: 1px solid #43768F;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #D7ECFA;
}
</style>
<p>TABULAR VISUALIZATION</p>
<table>
  <tr style="color: red">
    <th>Number</th>
    <th>Mobile Number</th>
    <th>Amount Repayed</th>
  </tr>
 {% for data in data %}
      <tr>
    <td>{{ data.id }}</td>
    <td> {{ data.mobile_number }}</td>
    <td> KES {{ data.amount }}</td>
  </tr>
{% endfor %}

</table>

{% endblock %}

{% block pagination %}{% endblock %}